<%= render partial: "form", locals: {value_submit: "Создать"} %>

<p>
  | <%= link_to "Все вопросы теста", test_questions_path(@test) %> |
  | <%= link_to "Тест", test_path(@test) %> |
  | <%= link_to 'Все тесты', tests_path %> |
</p>