<div class="awards mb-3 <%= "awards_#{badge.image}" %>">
  <div class="awards__header"><%= header(badge) %></div>
  <div class="awards__pic mb-3">
    <%= image_tag(image(badge), class: 'awards__image') %>
  </div>
</div>
