<div class="awards <%= "awards_#{badge.image_id}" %>">
  <div class="awards__header"><%= header(badge) %></div>
  <div class="awards__pic">
    <%= image_tag(image(badge), class: 'awards__image') %>
  </div>
</div>
