<div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8 table-responsive">
    <h1 class="pt-3 pb-3 heading"><%= t('.header') %> <%= @badge.id %></h1>
    <%= render 'badge', badge: @badge  %>
  </div>
</div>
