<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<% percentage = @test_passage.percentage_passage.to_i %>
<div class="test-result">
  <% if @test_passage.successful_passage? %>
    <h3 class="success"><%= t('.success', percentage: percentage) %></h3>
  <% else %>
    <h3 class="failed"><%= t('.failed', percentage: percentage) %></h3>
  <% end %>
</div>

| <%= link_to t('.back'), tests_path %> |

