<% if resource.errors.present? %>
  <% count = resource.errors.count %>
  <h2><%= count %> <%= 'error'.pluralize(count) %></h2>
  <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
