<% if resources.errors.present? %>
  <h3><%= t('admin.error_header', count: resources.errors.count) %></h3>
  <ul>
    <% resources.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
