<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        <div>
          <%= year %>
        </div>
        <div>
          Egor Tikhanin
        </div>
        <div class=" navbar-text mr-3" >
          <%=  link_to t('.feedback'), new_feedback_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>
      <div class="col-12 col-md-3">
          <%= link_to 'TestGuru', github_url('windyeti', 'test_guru'), target: "_blank" %>
      </div>
      <div class="col-12 col-md-3">
          <h4>Цель проекта</h4>
          <p>
            Этот проект посвящен тестированию на знание основ web-технологий. Предоставляется возможность...
          </p>
      </div>
      <div class="col-12 col-md-3">
          <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://www.thinknetica.com", target: "_blank" %>
      </div>
    </div>
  </div>
</footer>
