<nav class="navbar navbar-expand-lg navbar-light bg-light <%= 'admin_panel' if current_user.present? && current_user.admin? %>">
  <%= link_to 'Хочу все знать!', root_path, class: 'navbar-brand' %>
  <div class=" navbar-text mr-3" >
    <%=  button_to 'Admin Panel', admin_tests_path, method: :get, class: 'btn btn-outline-light' if current_user.present? && current_user.admin? %>
  </div>
  <div class=" navbar-text" >
    <%= render partial: 'shared/menu' %>
  </div>
</nav>
