.octicon.head_arrow {
  color: #8ebfff;
  fill: currentColor;
}
.octicon.octicon-issue-opened {
  color: #ff2837;
  fill: currentColor;
}
.octicon.octicon-issue-closed {
  color: #16ac2b;
  fill: currentColor;
}
.hide {
  display: none;
}
