.flash {
  .flash_notice {
    padding: 10px;
    background-color: #99ffc2;
  }
  .flash_warning {
    padding: 10px;
    background-color: #ff795c;
  }
  .flash_alert {
    padding: 10px;
    background-color: #7a98ff;
  }
}
