.header {
  min-height: 50px;
  &.admin {
    background-color: #5193ff;
  }
}
.logo, .head-admin {
  float: left;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.11);
  padding: 15px 10px;
  font-size: 200%;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}
.registration_menu {
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #fff;
  float: right;
  .welcome {
    font-weight: 800;
  }
}
