.card__progress-passage {
  margin-top: 10px;
  padding: 10px 5px;
  border: 1px solid #909090;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.card__progress-passage__inner {
  display: flex;
}
.card__progress-passage__rectangle {
  width: 100%;
  height: 10px;
  margin: 0 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.card__progress-passage__rectangle_ready {
}
.card__progress-passage__rectangle_current {
}
