<p>Привет <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связываемся с вами, чтобы уведомить вас об изменении вашего адреса электронной почты на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связываемся с вами, чтобы уведомить вас, что ваш адрес электронной почты был изменен на <%= @resource.email %>.</p>
<% end %>
