<h1>All Tests</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Count Questions</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @tests %>
</table>
<p>
  | <%= link_to 'Создать новый тест', new_admin_test_path %> |
</p>
