<h1>Test Edit</h1>
<%= render partial: 'form' %>
<p>
  | <%= link_to "Delete", question_path(@test), method: :delete,
                data: {confirm: "Are you sure?\nПодтверждение на удаление #{@test.title}"} %> |
  | <%= link_to "Тест", test_path(@test) %> |
  | <%= link_to 'Все тесты', tests_path %> |
</p>
