<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mailer__result-test {
        color: #555555;
        font-family: Arial;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #ade9ff;
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="mailer__result-test">
      <%= yield %>
    </div>
  </body>
</html>
