<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    .mailer__feedback {
      color: #c8f0ff;
      font-family: Arial;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #22dcff;
      padding: 40px;
    }
  </style>
</head>

<body>
<div class="mailer__feedback">
  <%= yield %>
</div>
</body>
</html>
