<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mailer__result-test {
        color: #ffffff;
        font-family: Arial;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #ffba2d;
        padding: 20px;
      }
      .mailer__test-name {
        display: inline-block;
        padding: 5px;
        border: 1px solid white;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
    </style>
  </head>

  <body>
    <div class="mailer__result-test">
      <%= yield %>
    </div>
  </body>
</html>
